/*
This .scss loop will create "margin helpers" and "padding helpers" for use in your web projects.
It will generate several classes such as:

.margin-right-10 which gives margin-right 10 pixels.
.margin-right-15 gives MARGIN to the RIGHT 15 pixels.
.margin-top-15 gives MARGIN to the TOP 15 pixels and so on.

.padding-bottom-5 gives PADDING to the BOTTOM of 5 pixels
.padding-left-40 gives PADDING to the LEFT of 40 pixels
*/

$spaceamounts: (0, 1,  2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 18, 20, 21, 22, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 86, 88, 100, 110, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 700, 800); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .margin-#{$side}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .padding-#{$side}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}
