@import "~bootstrap/scss/bootstrap";
@import "bootstrap-material-design/scss/bootstrap-material-design";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../helpers/spacing-helpers";
@import "../bootstrap/variables";
@import "./reset.scss";
.bg {
  background: url("/images/black-and-white-cloudy-cold-959805.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.1px;
  text-align: center;
}

h4 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: 0.1px;
  text-align: center;
}

h5 {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
  color: $font-color-gery-bg;
}

.grey-font-color {
  color: #686868;
}

.h4-font-color {
  color: $font-color-social;
}

.top-spacing {
  padding-top: 107px;
}

.bottom-spacing {
  padding-bottom: 107px;
}

.element-spacing {
  padding-top: 26px;
}

.element-bottom-spacing {
  padding-bottom: 26px;
}

.box-sizing {
  width: 100%;
  height: 790px;
  box-sizing: border-box;
  background-color: white;
}

.box-sizing-2 {
  width: 100%;
  height: 585px;
  box-sizing: border-box;
  background-color: white;
}

.rcorner {
  object-fit: contain;
  border-radius: 4px;
  background-color: $rcorner-bg-color;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.16);
}

.rcorner-text-field {
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #686868;
}

.align-left {
  text-align: left;
}

.inline-display {
  display: inline;
}

.submit-btn-bg {
  background-color: #2196f3;
  border-radius: 15px;
}

.font-white {
  color: white;
}

.fa {
    padding: 3px;
    font-size: 20px;
    width: 26px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 50%;
  }

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.line-with-text {
  width: 92%;
  text-align: center;
  border-bottom: 1px solid #707070;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.line-with-text span {
  padding: 0 10px;
  background-color: white;
}

//linking page starts
.linking-wrapper {
  width: 754px;
  margin: 0 auto;
  padding: 81px 0 140px 0;
    .box-wrapper{
      box-sizing: border-box;
      background-color: white;
      padding: 22px 123px 16px 68px;
      .prgress-bar-wrp{
        text-align: center;
        width: 35%;
        margin: 0 auto;
        .prgress-bar-container{
          float: left;
          width: 100%;
          .prgbar {
            counter-reset: step;
            float: left;
            padding: 0;
            margin: 0;
            width: 100%;
            li{
              list-style-type: none;
              width: 44%;
              float: left;
              font-size: 12px;
              position: relative;
              text-align: center;
              color: white;
            }
            li:before {
              width: 24px;
              height: 24px;
              content: counter(step);
              counter-increment: step;
              line-height: 30px;
              display: block;
              text-align: center;
              border-radius: 50%;
              background-color: $font-color-blue;
            }
            li:after {
              width: 100%;
              height: 1px;
              content: '';
              position: absolute;
              background-color: #707070;
              top: 12px;
              left: 26%;
              z-index: 0;
            }
            li:last-child{
              width: 12%;
            }
            li:last-child:after {
              content: none;
            }
            li:last-child:before {
              margin: 0;
              background-color: $font-color-gery-bg;
            }
            li.active {
                content: none;
            }
            li.active + li:after {
                background-color: $font-color-blue;
            }
          }
        }
        h2{
          font-size: 16px;
          font-weight: 600;
          margin: 17px 0 31px 0;
        }
      }
      .linking-container{
        display: table;
        .profile-panel{
          display: table-cell;
          .user-profile{
            //padding: 106px 0 0 0;
          }
          .upload-profile-pic{
            height: 48px;
            width: 48px;
            border-radius: 50%;
            display: inline-block;
            background-color: grey;
          }
          .user-info{
            display: inline-block;
            vertical-align: top;
            margin: 0 0 0 16px;
            .user-name{
              color: $font-color-social;
              font-size: 14px;
              font-weight: bold;
            }
            .account-linked{
              height: 20px;
              width: 200px;
            }
          }
          .profile-text{
            font-size: 12px;
            color: $font-color-gery-bg;
            margin: 6px 0 0 0;
          }
        }
        .account-panel{
          display: table-cell;
          .blank-pic{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: inline-block;
            background-color: $font-color-gery-bg;
          }
          p{
            display: inline-block;
          }
        }
      }
      .user-action-wrp{
        margin: 61px 0 0 0;
        text-align: center;
        form{
          margin:0;
          .button-submit{
            background-color: $font-color-blue;
            color: white;
            padding: 9px 43px;
            border-radius: 25px;
            font-size: 12px;
            font-weight: 600;
            display: inline-block;
            margin: 0 0 8px 0;
          }
        }
        .button-skip{
          color: $font-color-gery-bg;
          font-size: 12px;
        }
      }
    }
}

.inline-display {
  display: inline;
}

.font-black {
  color: black;
}

.text-box-spacing-top {
  margin-top: 12px;
}

.element-spacing > .button {
  background: none !important;
  width: 100%;
}

.styled-select {
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  background: url('../../assets/images/group-195.png') no-repeat right white;
  display: inline-block;
  position: relative;
}
