<!DOCTYPE html>
<html>
  <head>
    <title>Seem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <%= javascript_pack_tag 'seem/index' %>
  <%= stylesheet_pack_tag 'seem/assets/stylesheets/app' %>
</head>

  <body>
    <%= yield %>
  </body>
</html>
